body {
    font-family: Arial;
    text-align: center;
    background-color: lightblue;
}

.navbar {
    background-color: navy;
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: yellow;
}

img {
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: navy;
    color: white;
    border: none;
}

button:hover {
    background-color: darkblue;
}